#All data files
#*.csv
#*.xls
#*.xlsx
#*.txt
#*.pdf
#*.ipynb
#*.log

#Some misc config files that get generated
.DS_Store
__pycache__/

#Files and Paths
runs/
rescreen/
misc_scratch_data/
.ipynb_checkpoints/
